h1,
h2,
h3 {
  line-height: 1;
}
a {
  color: var(--clr-accent);
  &:hover {
    color: var(--clr-accent-dark);
  }
}
.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
}

.section-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin: 0;

  &--date {
    font-size: var(--fs-xl);
  }
}
